.tab-block {
    display:inline-block;
    width:17px
}

.line-part-remove {
    background-color: #d95050;
}

.line-part-add {
    background-color: #46d246;
}

.line-content-prefix {
    font-size: 9px;
    padding-right:5px;
}

.line-content {
    padding-left:5px;
    padding-right:0px;
    font-size:12px;
    white-space: pre;
}

.line-content-unchanged {
    background-color: #ffffff;
}

.line-content-changed-remove {
    background-color: #ffb3b3;
}

.line-content-changed-add {
    background-color: #adebad;
}

.line-content-offset {
    background-color: #ebebeb;
}

.line-row-wrapper {
    background-color:#ced3db;
    height:22px;
}

.line-marker {
    flex: 0 0 44px; 
    padding: 0px 3px 0px 0px;
    font-size:10px;
    font-weight: bold; 
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #999da3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.l-diff {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #000;
}

.r-diff {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #000;
}

.top-padding-10 {
    padding-top:10px;
}

.bottom-padding-10 {
    padding-bottom:10px;
}

.padding-indent {
    padding-left:30px;
}

.num-spaces-input {
    padding-right:20px;
}

.num-spaces-input {
    display:inline-block;
    width:60px;
}